<br><br><br>
<%= form_for @message, url: create_message_url do |f| %>
  <%= notice %>
  <%= @message.errors.full_messages.join(', ') %>

  <div class="field">
    <%= f.text_field :name, placeholder: 'name' %>
  </div>
  <div class="field">
    <%= f.email_field :email, placeholder: 'email' %>
  </div>
  <div class="field">
    <%= f.text_area :body, placeholder: 'body' %>
  </div>
  <%= f.submit 'Send' %>
<% end %>
